# Relatório de Analise VI

## Seleções e Frequência

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')

In [4]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

## Respondendo perguntas de negócio

### **Quais os imóveis são apartamento?**

Selecione somente os imóveis classificados com tipo 'Apartamento'.

In [20]:
# Quantidade de imóveis do tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'

n1 = dados[selecao].shape[0]
n1

19532

In [22]:
# Selecionando apenas os imóveis do tipo apartamento
dados_apartamento = dados[selecao]

dados_apartamento.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN

### Quantidade de imóveis que são classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' ?

Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [26]:
dados['Tipo'].isin(['Casa','Casa de Condomínio','Casa de Vila'])

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

Para multi seleção além de usar a função **.isin()** para comparar com múltiplos valores podemos usar o operador **OR**, representado pelo **|**, da maneira a seguir:

In [29]:
(dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [28]:
selecao = dados['Tipo'].isin(['Casa','Casa de Condomínio','Casa de Vila'])
n2 = dados[selecao].shape[0]
n2

2212

### Quantos imóveis tem área entre 60 e 100 metros quadrados, incluindo os limites ?

Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [42]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

### Quantos imóveis tem pelo menos 4 quartos e aluguel menor que R$ 2.000,00 ?

Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [39]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000 )
n4 = dados[selecao].shape[0]
n4

41

## Conclusão

In [43]:
print(f"Nº de imóveis classificados com tipo 'Apartamento' -> {n1}")
print(f"Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {n2}")
print(f"Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {n3}")
print(f"Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {n4}")

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41