# Relatório de Análise II

In [1]:
## Tipos de imóveis

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [4]:
tipo_imovel = dados['Tipo']

# Quantidade por tipo
tipo_imovel.value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Indústria                          1
Pousada/Chalé                      1
Name: Tipo, dtype: int64

In [5]:
# Identificar os valores únicos
tipo_imovel.unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [6]:
# Remover os duplicados
tipo_imovel.drop_duplicates(inplace=True)

## Organizando a Visualização

In [7]:
type(tipo_imovel)

pandas.core.series.Series

Depois de remover os duplicados temos uma **series**, precisamos de um dataframe. 

Vamos converter a series em DataFrame e depois resetar o index, pois está com o index original.

In [8]:
tipo_imovel = pd.DataFrame(tipo_imovel)

In [9]:
# Reseta o index
tipo_imovel.reset_index(inplace=True)

tipo_imovel.head()

   index                     Tipo
0      0                Quitinete
1      1                     Casa
2      2  Conjunto Comercial/Sala
3      3              Apartamento
4      7       Casa de Condomínio

In [10]:
# Vamos remover a coluna index, já que não precisamos do índice antigo.
tipo_imovel.drop(['index'], axis=1, inplace=True)

In [11]:
tipo_imovel.head(10)

                      Tipo
0                Quitinete
1                     Casa
2  Conjunto Comercial/Sala
3              Apartamento
4       Casa de Condomínio
5           Prédio Inteiro
6                     Flat
7               Loja/Salão
8  Galpão/Depósito/Armazém
9           Casa Comercial

Podia ser feito um for recriando o index usando o range. *df.index = range(df.shape[0])*