#  (Extra) Formas de seleções

In [1]:
import pandas as pd

In [2]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]

df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [6]:
# Seleciona apenas uma coluna
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [7]:
# Seleciona mais de uma coluna, retorna DataFrame
df[['c3','c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [16]:
# Seleciona um intervalo de linhas.
df[1:2]

    c1  c2  c3  c4
l2   5   6   7   8

In [20]:
# Seleciona um intervalo de linhas e intervalo de colunas.
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [25]:
# Seleciona uma linha a partir do index, criando uma series.
df.loc['l3']

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [27]:
# Seleciona multiplas linhas a partir do index, criando uma series.
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [30]:
# Seleciona valor dentro do DataFrame, selecionando linha e coluna pelo nome
df.loc['l1', 'c2']

2

Temos a função **.iloc()** que seleciona os valores pelo indice das posiçoes do DataFrame

In [33]:
# Seleciona valor dentro do DataFrame, selecionando linha e coluna pelo indice da posição
df.iloc[0, 1]

2

In [35]:
# Selecionando múltiplos intervalos pelo nome do índice e pelo atributo
df.loc[['l3', 'l1'],['c4', 'c1']]

    c4  c1
l3  12   8
l1   4   1

In [38]:
# Selecionando múltiplos intervalos pelo índice da localização.
df.iloc[[2,0],[3,0]]

    c4  c1
l3  12   8
l1   4   1