# (Extra) Métodos de interpolação

In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

Substitui os valore nulos por zero.

In [4]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

Em alguns casos não queremos substituir o valor nulo por zero, temos metodos que substituem o valor seguindo uma regra.

Testaremos o **method='ffill'** que substitui o valor nulo pelo anterior na série.

In [ ]:
s.fillna(method='ffill')

Já o method='Bfill' que substitui o valor nulo pelo posterior na série.

In [6]:
s.fillna(method='ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [7]:
# Limita a quantidade de substituições, neste caso para 1
s.fillna(method='ffill', limit = 1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64